[submodule "Algoritirmi-Paralleli-e-Sistemi-Distribuiti"]
	path = Algoritirmi-Paralleli-e-Sistemi-Distribuiti
	url = https://github.com/Rhaegal222/Algoritirmi-Paralleli-e-Sistemi-Distribuiti
[submodule "Basi-di-Dati"]
	path = Basi-di-Dati
	url = https://github.com/Rhaegal222/Basi-di-Dati
[submodule "Fondamenti-di-Programmazione-2"]
	path = Fondamenti-di-Programmazione-2
	url = https://github.com/Rhaegal222/Fondamenti-di-Programmazione-2
[submodule "Sistemi-Operativi"]
	path = Sistemi-Operativi
	url = https://github.com/Rhaegal222/Sistemi-Operativi.git
[submodule "User-Interface-Design"]
	path = User-Interface-Design
	url = https://github.com/Rhaegal222/User-Interface-Design
